<h3>User</h3>
<p>User: <%= @user.email %></p>
<p>password: <%= @user.encrypted_password%></p>
<p>password_confirmation:<%= @user.password_confirmation.class%></p>
<p>remember_me:<%= @user.remember_me.class%></p>
